<!-- <p id="notice"><%= notice %></p> -->
<p>
	Hello <b><%= @fortune_teller.name %></b>. With your permission, I will start looking at your friends (<%=number_to_human @fortune_teller.dataset.lines.count%> of them) through my crystal ball. 
</p>
<h5>Takes half a min for the test case (with 10,000 emails)</h5>
<p>
	They are:
</p>
<%= button_to "Please go ahead Sam", result_fortune_teller_path(@fortune_teller), :class => 'btn primary'%>
<ul>
	<% @fortune_teller.dataset.each_line do |x| %>
	    <li><%= x %></li>
	<% end %>
</ul>
<%= button_to "Please go ahead Sam", result_fortune_teller_path(@fortune_teller), :class => 'btn primary'%>

<%= link_to 'Edit', edit_fortune_teller_path(@fortune_teller) %> |
<%= link_to 'Back', fortune_tellers_path %>
