<!-- <p id="notice"><%= notice %></p> -->
<p>
	Hello <b><%= @query.name %></b>. With your permission, I will start looking at your friends through my crystal ball. They are:
</p>
<!-- <p>
  <b>Email:</b>
  <%= @query.email %>
</p>

<p>
  <b>Dataset:</b>
  <%= @query.dataset %>
</p> -->
<ul>
	<% @query.dataset.each_line do |x| %>
	    <li><%= x %></li>
	<% end %>
</ul>

<%= button_to 'Please go ahead Sam.', logics_path(query_id:@query), :class => 'btn primary' %>
<h5>Takes half a min for the test case (with 10,000 emails)</h5>
<!-- <%= link_to 'Edit', edit_query_path(@query) %> | -->
<%= link_to 'Edit', new_query_path%> |
<%= link_to 'Back', queries_path %>
