<div id='results'>
	<h1>As a Consultant,</h1>
	<h2>I would say...</h2>
	<p><%=@niche%></p>
	
	<h1>As a Fortune Teller,</h1>
	<h2>Peskipiksi Pesternomi!</h2>
	<h2>This is what I see...</h2>
	<p><%=@lines%></p>
	
	<h2>I know, it's pretty accurate.</h2>
	<h5>(When it works properly. If it doesn't, you can have the autopsy below... Only available in Beta!)</h5>
</div>


<button id='showautopsy'>Autopsy</button>
<div id='autopsy' style='display:none'>
	<%=@errormessage%>
	<h2>timelapsed for the bulk query</h2>
	<%=@timelapse.inspect%>
	<h2>seed</h2>
	<%=@query.inspect%>
	<h2>about you</h2>
	<%=@facts.inspect%>
	<h2>about your friends</h2>
	<%=@bulk.inspect%>
	<h2>Summary about your friends:</h2>
	<%=@summary.inspect%>
	<h2>Tops</h2>
	<%=@tops.inspect%>
	<h2>What's potentially available </h2>
	<%=@available.inspect%>
	<!-- <h2>set</h2>
	<%=@set.inspect%> -->
</div>
<script>
$('#showautopsy').click(function(){
	$('#autopsy').toggle();
});
</script>